@use "../base/variables" as v;


body {
    header {
        .img_prin {
            
            display: flex;
            justify-content: center;
        
    }
    }
    main {

        .info-per {
            .nombre {
                display: flex;
                align-items: flex-start;    
                color: v.$rojo;
                font-weight: 300;
            }
            .parrafo_per {
                color: v.$blanco;
            }
            .personaje_img {
                width: min(90%, 300px);
                height: 300px;
                border-radius: 20px;
                }
        }
    }
}





