@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* tipografia */
$fuente_principal: 'Montserrat', sans-serif;

/* colores */
$dorado: #ffd900;
$rojo:#ff0000;
$blanco: #ffffff;
$negro: #000000;
$silver: #c0c0c0;
$azul:#032f55;